<h1><%= @movie.title %> (<%= @movie.year %>)</h1>
<h3><%= @movie.director %></h3>
<h4><%= @movie.plot %></h4>

<p>Rate this movie:</p>
<input type="range"
       min="0"
       max="10"
       step="1"
       value="5"><br>

<p>Pick a date to watch it again:</p>
<form>
  <input type="date">
</form>
<script>
  var i = document.createElement("input");
  i.setAttribute("type", "date");
  if (i.type == "text") {
    // No native date picker support :(
    // Use Dojo/jQueryUI/YUI/Closure to create one,
    // then dynamically replace that <input> element.
  }
</script>